body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.pane {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid #ddd;
    position: relative;
}

.panes {
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
}

.full-text-pane {
    border-right: none;
}


.summary {
    background-color: lightblue;
}

.changes-from-proposal {
    background-color: coral;
}
.key-points {
    background-color: yellowgreen;
}

.config-bar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: normal;
    gap: 1em;
}

.audience-selector {
    display: flex;
    flex-direction: column;
}